@media (max-width: 600px) {
    #container5 {
        padding-top: 0px;
    }

    #container1 {
        background-image:url(./image/helyouz.png);
        background-size: cover;
        opacity: 1.0;
    }

    #row1 {
        padding-left: 10px;
    }

    .rounded-circle {
        width: 90px;
        margin: auto;
    }

    #hanasui4, #lux4 {
        width: 150px;
        margin: auto;
    }

}

@media (max-width: 768px) {
    #container5 {
        padding-top: 0px;
    }

    #container1 {
        background-image:url(./image/helyouz.png);
        background-size: cover;
        opacity: 1.0;
    }
}